# node.js
node_modules/
build/

# Logs
logs
*.log

backend/serviceAccountKey.json

# dotenv
.env
backend/.env
**/.env

# Docker
*.pid
*.sock
docker-compose.override.yml
clickhouse_data/  

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Firebase
serviceAccountKey.json
**/serviceAccountKey.json
