services:
  frontend:
    build: .
    ports:
      - "500:80"  # Map external 500 to internal 80
    container_name: frontend-app
    restart: unless-stopped
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    container_name: backend-app
    restart: unless-stopped