services:
  frontend:
    build: .
    ports:
      - "4007:80"
    container_name: frontend-app
    restart: unless-stopped

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ./clickhouse_data:/var/lib/clickhouse
    environment:
      CLICKHOUSE_USER: admin
      CLICKHOUSE_PASSWORD: admin123
      CLICKHOUSE_DB: my_project_db
    restart: unless-stopped

  clickhouse-gui:
    image: spoonest/clickhouse-tabix-web-client
    container_name: clickhouse-gui
    ports:
      - "8080:80"
    depends_on:
      - clickhouse
